@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');

:root  {
    --dark-hl-color: #024;
    --navbar-size: 90px;
}

* {font-family: 'Roboto', sans-serif;}

h1, h2, h3, h4, h5, h6 { color: var(--dark-hl-color); }

h1, h2, h3, h4, h5, h6, .navbar *, .text-center * {font-weight: 400;}

.nav-link { color: var(--dark-hl-color); }

p, li {font-weight: 300; font-size: 1.25rem !important;}

.banner * {
    color: white;
}

h1 { scroll-margin-top: var(--navbar-size); }

.banner {
    background-color: var(--dark-hl-color);
    background-size: cover;
    background-blend-mode: multiply;
}

.banner.bumper h1 {
    color: white;
    padding: 3rem;
}

.parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}
