@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');

:root  {
    --dark-hl-color: #024;
    --navbar-size: 90px;
}

* {font-family: 'Roboto', sans-serif;}

h1, h2, h3, h4, h5, h6 { color: var(--dark-hl-color); }

h1, h2, h3, h4, h5, h6, .navbar *, .text-danger {font-weight: 400;}

.nav-link { color: var(--dark-hl-color); }

p, li {font-weight: 300; font-size: 1.25rem !important;}

footer * {
    margin-bottom: 0;
}

.sponsors {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.sponsors img {
    margin: 32px;
    height: 100px;
}

iframe {
    width: 100% !important;
    height: 450px;
}

.banner * {
    color: white;
}

h1 { scroll-margin-top: var(--navbar-size); }

.banner {
    background-color: var(--dark-hl-color);
    background-size: cover;
    background-blend-mode: multiply;
}

.banner.bumper h1 {
    color: white;
    padding: 3rem;
}

.parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

.flex-last-editions {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
}

.flex-last-editions a {
    text-decoration: none;
}

.flex-last-editions figure {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    width: 30vw;
    min-width: 250px;
    height: 250px;
    filter: grayscale(0.90);
    transition: all 400ms ease-out;
    margin: 0;
}

.flex-last-editions a:hover>figure {
    filter: none;
}

.flex-last-editions figure p, .flex-last-editions figure h2 {
    color: white;
    text-shadow: 2px 2px #000D;
}

.flex-last-editions .title-year {
    position: absolute;
    top: 12px;
    left: 12px;
}

.flex-last-editions figure .fadein {
    transition: all 400ms ease-out;
}

.flex-last-editions a:hover>figure .fadein {
    top: 10px;
}
